@tailwind base;
@tailwind components;
@tailwind utilities;


/* numeric keyboard classes */

.numeric-theme {
    max-width: calc(100% - 5px);
    height: calc(100% - 5px);
    margin: 0 auto;
    
  }
  
  
  .myTheme {
    
    height: 215px;
    background-color: white;
  }
  
  .simple-keyboard.hg-layout-default .hg-button.hg-red {
    background-color: rgb(252, 252, 252);
    color: rgb(39, 44, 66);
    height: 48px;
    font-size: x-large;
    box-shadow: 3px 3px 3px rgb(201, 216, 221);
  }
  
  .simple-keyboard.hg-theme-default.numeric-theme
    .hg-button.hg-standardBtn.hg-button.shifted{
      background-color: rgb(251, 255, 255);
      color: rgb(7, 13, 39);
      font-size: x-large;
      height: 55px;
    }
  
  
  .simple-keyboard.hg-layout-default .hg-button.hg-side {
    background-color: rgb(255, 255, 255);
    color: rgb(39, 44, 66);
    height: 48px;
    box-shadow: 3px 3px 3px rgb(201, 216, 221);
  }
  
  .simple-keyboard.hg-layout-default .hg-button.hg-highlight {
    box-shadow: 0px 0px 40px 5px rgba(255, 255, 0, 0.5);
    z-index: 1;
  }
  
  
  /* ----------- PIN INPUT */
  
  .pincode-input-container 
  {
     /* // Provide the style you want to override. 
     // Use !important if required. */
    height: 120px !important;
    width: 100%;
    
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:5px;
     
  } 
  
  .pincode-input-text
  {
     /* // Provide the style you want to override. 
     // Use !important if required. */
     padding:0 !important;
     margin:0 2px;
     text-align:center;
     border: 1px solid;
     background: gray;
     width: 70px;
     height: 70px;
  
  } 